
.ipynb_checkpoints/BDA-checkpoint.ipynb
.ipynb_checkpoints/Get_Sensor_Data-checkpoint.ipynb
.ipynb_checkpoints/TCA_EMD-checkpoint.ipynb
.ipynb_checkpoints/BDA-checkpoint.ipynb
.ipynb_checkpoints/BDA-checkpoint.ipynb
.ipynb_checkpoints/BDA-checkpoint.ipynb
.ipynb_checkpoints/BDA-checkpoint.ipynb
.ipynb_checkpoints/BDA_reg-checkpoint.ipynb
.ipynb_checkpoints/base_regression-checkpoint.ipynb
__pycache__/bda_utils.cpython-38.pyc
.ipynb_checkpoints/illustrations-checkpoint.ipynb
__pycache__/bda_utils.cpython-38.pyc
runs/