
.ipynb_checkpoints/BDA-checkpoint.ipynb
.ipynb_checkpoints/Get_Sensor_Data-checkpoint.ipynb
.ipynb_checkpoints/TCA_EMD-checkpoint.ipynb
.ipynb_checkpoints/BDA-checkpoint.ipynb
.ipynb_checkpoints/BDA-checkpoint.ipynb
.ipynb_checkpoints/BDA-checkpoint.ipynb
.ipynb_checkpoints/BDA-checkpoint.ipynb
.ipynb_checkpoints/BDA_reg-checkpoint.ipynb
.ipynb_checkpoints/base_regression-checkpoint.ipynb
.ipynb_checkpoints/illustrations-checkpoint.ipynb
runs/
__pycache__/