
.ipynb_checkpoints/BDA-checkpoint.ipynb
.ipynb_checkpoints/Get_Sensor_Data-checkpoint.ipynb
.ipynb_checkpoints/TCA_EMD-checkpoint.ipynb
.ipynb_checkpoints/BDA-checkpoint.ipynb
.ipynb_checkpoints/BDA-checkpoint.ipynb
.ipynb_checkpoints/BDA-checkpoint.ipynb
